.sideImg {
  width: 100%;
  object-fit: cover;
}

.tabGroup {
  padding: 9px 13px;
  background-color: rgb(114 130 184 / 60%);
  border-radius: 33px;
  display: inline-flex;

  :global {
    .MuiButton-root {
      color: white;
    }
  }
}
